.audiowide-regular {
  font-family: "Audiowide", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
  body {
    color: white;
    text-shadow: 0px 0px 10px #BC1BFDFF, 0px 0px 8px #BC1BFDFF, 0px 0px 5px #BC1BFDFF, 0px 0px 3px white;
    text-align: center;
}
/* unvisited link */
a:link {
  color: white;
}

/* visited link */
a:visited {
  color: white;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
}
 p {
  padding-top: 50px;
}
